.navbar__main {
    border-bottom: 1px solid #D8D8DE;
    text-align: center;
}

.navbar__logo {
    margin: 8px 10px 8px 16px;
}

.navbar__leftbar {
    display: flex; 
    align-items: center; 
}

.navbar__search {
    display: flex; 
    padding: 0.5rem; 
    margin-left: 0.5rem; 
    background-color: #F3F4F6; 
    align-items: center; 
    border-radius: 9999px; 
}

.navbar__searchicon {
    color: #4B5563; 
    height: 1.5rem; 
}

.navbar__searchtext {
    display: flex; 
    margin-left: 0.5rem; 
    background-color: transparent; 
    color: #6B7280; 
    align-items: center; 
    outline: 0; 
}

.navbar__container {
    display: flex; 
    flex-grow: 1; 
    justify-content: center; 
}

.navbar_icons {
    display: flex;
}

.navbar__tabs {
    width: 120px;
    height: 45px;
}

.navbar__tabs.active {
    border-bottom: 3px solid #1B77F2;
}

.navbar__righttab {
    display: flex;
    margin-left: 40px;
}

.navbar__rightimg {
    margin-top: 15px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}

.navbar__profilename{
    margin-top: 20px;
    font-weight: 600;
}